body .shell-main-sidebar {
    margin:0;
    
}

body .shell-main-sidebar .wrap{
    width: 204px;
    /* height: 8490px; */
    position: fixed;
    margin-bottom: 0;
    left: 0;
    background-color: black;
}

body .shell-main-sidebar .wrap ul {
    list-style: none;/* 清除小黑圆点 */
    margin: 0;
    margin-top: 143px;
    margin-bottom: 0;
    position: relative;
    padding: 0;/* 内边距 */
}

body .shell-main-sidebar .wrap ul li {
    width: 100%;
    /* height: 40px; */
    line-height: 40px;
    text-align: center;
    /* background-color: #000000; */
    color: #fff;
    margin-top: 28px;
    font-size: 16px;
}

body .shell-main-sidebar .wrap ul li a:link {
    color: #fff;
}

body .shell-main-sidebar .wrap ul li a:visited {
    color: #fff;
}

body .shell-main-sidebar .wrap ul .nav-box {
    position: absolute;
    bottom: 480px;
    width: 70px;
    height: 2px;
    left: 67px;
    border-radius: 0.5px;
    z-index: -999;
    transition: .5s;
  }

body .shell-main-sidebar .wrap ul li:nth-child(1):hover~.nav-box {
    bottom: 482px;
    background-color: rgb(255, 255, 255);
}
body .shell-main-sidebar .wrap ul li:nth-child(2):hover~.nav-box {
    bottom: 414px;
    background-color: rgb(255, 255, 255);
}

body .shell-main-sidebar .wrap ul li:nth-child(3):hover~.nav-box {
    bottom: 346px;
    background-color: #ffffff;
}

body .shell-main-sidebar .wrap ul li:nth-child(4):hover~.nav-box {
    bottom: 278px;
    background-color: #ffffff;
}

body .shell-main-sidebar .wrap ul li:nth-child(5):hover~.nav-box {
    bottom: 210px;
    background-color: #ffffff;
}

body .shell-main-sidebar .wrap ul li:nth-child(6):hover~.nav-box {
    bottom: 143px;
    background-color: #ffffff;
}

body .shell-main-sidebar .wrap ul li:nth-child(7):hover~.nav-box {
    bottom: 74px;
    background-color: #ffffff;
}

body .shell-main-sidebar .wrap ul li:nth-child(8):hover~.nav-box {
    bottom: 5px;
    background-color: #ffffff;
}

body .shell-main-article {
    position: absolute;
    height: auto;
    left: 21.19%;
    right: 8.41%;
    top: 89px;
}

body .shell-main-article .iconpic {
    position: absolute;
    width: 267.62px;
    height: 267.62px;
    left: 13.38px;
    top: 34.93px;

    /* black */

    background: #000000;
    border-radius: 198px;
}

body .shell-main-article .iconpic img {
    position: absolute;
    width: 267.62px;
    height: 267.62px;
    left: -7px;
    right: 2px;
    top: 2px;
    /* background-image: url("./image/logo icon.png"); */
}

body .shell-main-article .title {
    position: absolute;
    width: 600px;
    height: 285px;
    left: 316px;
    top: 81px;
}

body .shell-main-article .title h1 {
    position: absolute;
    width: 600px;
    height: 138px;
    left: calc(50% - 600px/2 + 172.5px);
    /* top: 81px; */

    font: 'font';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    /* or 144% */

    display: flex;
    align-items: center;
    text-align: center;

    /* black */

    color: #000000;
}

body .shell-main-article .line{    
    position: absolute;
    width: 151px;
    height: 2px;
    left: calc(50% - 600px/2 + 362px);
    top: 170px;

    background: #000000;
    opacity: 0.7;
    border-radius: 1px;
}

body .shell-main-article .by h2{
    position: absolute;
    width: 300px;
    height: 23px;
    left: calc(50% - 600px/2 + 323px);
    top: 200px;
    
    font: 'font';
    font-style: normal;
    font-weight: 540;
    font-size: 32px;
    line-height: 23px;
    /* identical to box height, or 72% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    
    /* black */
    
    color: #000000;
}

body .shell-main-article .slogan h3{
    position: absolute;
    width: 245px;
    height: 54px;
    left: calc(50% - 233px/2 + 145px);
    top: 250px;
    line-height: 1.75em;
    font: 'font';
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 132% */
    /* word-spacing: 7px; */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    
    /* black */
    
    color: #000000;
}

body .shell-main-words {
    position: absolute;
    width: 100%;
    height: auto;
    left: 316px;
    top: 600px;
}

body .shell-main-words .article {
    width: 100%;
    top: 700px;

    
    /* or 67% */

    display: absolute;
    align-items: center;

    /* black */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}

body .shell-main-words .article .passage {
    display: absolute;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: 100%;
    height: 240px;
    /* font: 'font';
    font-style: normal;
    font-size: 36px;
    line-height: 24px; */
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

body .shell-main-words .article .passage h1{
    width: 100%;
    height: auto;
    margin-top: 90px;
    font: 'font';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    /* black */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

body .shell-main-words .article .passage p {
    width: 1200px;
    height: auto;

    font= 'font';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-indent: 2em;
    /* or 200% */
    text-align: justify;
    margin-bottom: 0px;

    /* black */

    color: #000000;
    /* padding: 0px; */

    /* Inside auto layout */

    /* flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; */
}

body .shell-main-words .article .passage h2 {
    font: 'font';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-top: 60px;
    margin-bottom: 40px;
    /* or 100% */
    
    display: flex;
    align-items: center;

    /* black */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

body .shell-main-words .article h6 {
    font: 'font';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* or 200% */
    width: 1200px;
    text-indent: 2em;
    text-align: justify;

    /* mint */

    color: #18AEAE;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

body .shell-main-words .article img {
    width: 837px;
    height: 533px;
    left: 12%;
    align-items: center;
    text-align: center;
    position: absolute;
    /* Inside auto layout */
    
    flex: none;
    order: 15;
    flex-grow: 0;

}

body .shell-main-footer {
    /* min-height: 100%; */
    /* height:100% */
    margin-top: 7980px;
    margin-bottom: 0;
    bottom: 0px;
    position: sticky;
    height: 144px;
    padding: 0px;
    /* background-color: black; */
}

body .shell-main-footer .container{
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    /* position: absolute; */
    height: 157px;
    /* transform: translateY(0px); */
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    /* align-items: center; */
    /* text-align: center; */
    font: 100 30px 'font';
    background-color: black;
  }
  
body .shell-main-footer .container .footer-left {
    display: flex;
    height: 157px;
    width: 64px;
    left: 39px;
    /* align-items: center; */
    /* justify-content: center; */
    position:absolute
  }
  
body .shell-main-footer .container .footer-left-logo {
    display: flex;
    height: 157px;
    width: 64px;
    /* left: 39px; */
    align-items: center;
    text-align: center;
    position: absolute;
  }
  
body .shell-main-footer .container .footer-left-logo img {
    width: 64px;
    height: 64px;
  }
  
body .shell-main-footer .container .footer-left-logo span {
    position: absolute;
    width: 92px;
    height: 24px;
    left: 70px;
    top: calc(50% - 24px/2);
    letter-spacing: 0;
    font: 16px 'font';
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  
body .shell-main-footer .container .footer-left-word{
    position: absolute;
    display: inline-block;
    width: 300px;
    left: 297px;
    bottom: 45px;
  }
  
body .shell-main-footer .container .footer-left-word p {
    font: 16px 'font';
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
body .shell-main-footer .container .footer-right {
    display: inline-block;
    width: 344px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 63px;
    bottom: 100px;
  }
  
body .shell-main-footer .container .footer-right .footer-right-word {
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
body .shell-main-footer .container .footer-right .footer-right-word p {
    font: 20px 'font';
    font-weight: 350;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
  }